openapi: "3.0.3"

info:
  version: v1.0.0
  title: Softask
  license:
    name: MIT
  contact:
    name: Elizabeth Paige Harper
    email: eph@softask.app
  description: REST API backing the SofTask mobile app and website.
  x-logo:
    url: https://raw.githubusercontent.com/softask-app/assets/master/logo-wtbg-short.png

servers:
  - url: https://api.softask.app/rest/v1

tags:
  - name: Authentication
    description: API authentication endpoints
  - name: Documentation
    description: API documentation endpoints
  - name: Device Management
  - name: Task Management
    description: Task management endpoints
  - name: Step Management
    description: Task step management endpoints
  - name: User Management
    description: User account management endpoints

paths:
  /: { $ref: paths/(empty).yml }

  /auth/login:  { $ref: paths/auth/login.yml  }
  /auth/logout: { $ref: paths/auth/logout.yml }
  /auth/auto:   { $ref: paths/auth/auto.yml   }
  /auth/pw-reset:
    post:
      operationId: pwResetRequest
      summary: Request Password Reset
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: https://softask-app.github.io/api-types/v1/types/auth/pw-reset-request.json#
      responses:
        204:
          $ref: components/responses/204.yml
        400:
          $ref: components/responses/400.yml
        401:
          $ref: components/responses/401.yml
        429:
          $ref: components/responses/429.yml
        500:
          $ref: components/responses/500.yml
  /auth/pw-reset/{token}:
    post:
      operationId: pwReset
      summary: Password Reset
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: https://softask-app.github.io/api-types/v1/types/auth/pw-reset.json#
      responses:
        204:
          $ref: components/responses/204.yml
        400:
          $ref: components/responses/400.yml
        401:
          $ref: components/responses/401.yml
        429:
          $ref: components/responses/429.yml
        500:
          $ref: components/responses/500.yml




  /devices:                   { $ref: paths/devices.yml                 }
  /devices/{device-id}:       { $ref: paths/devices/device-id.yml       }
  /devices/{device-id}/trust: { $ref: paths/devices/device-id/trust.yml }

  /tasks:           { $ref: paths/tasks.yml         }
  /tasks/{task-id}: { $ref: paths/tasks/task-id.yml }

  /tasks/{task-id}/steps:           { $ref: paths/tasks/task-id/steps.yml        }
  /tasks/{task-id}/steps/{step-id}: { $ref: paths/tasks/task-id/steps/step-id.yml }

  /users:               { $ref: paths/users.yml }
  /users/{user-id}:     { $ref: paths/users/by-id.yml }
  /users/{user-id}/pfp: { $ref: paths/users/by-id/pfp.yml }

  /tags: { $ref: paths/tags.yml }
  /task-names: { $ref: paths/task-names.yml }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        API Key header value provided from service after logging in.
