openapi: 3.0.3

info:
  version: v1.0.0
  title: Softask
  license:
    name: MIT
  contact:
    name: Elizabeth Paige Harper
    email: eph@softask.app
  description: REST API backing the SofTask mobile app and website.
  x-logo:
    url: https://raw.githubusercontent.com/softask-app/assets/master/logo-wtbg-short.png

servers:
  - url: https://softask.app/api/v1

tags:
  - name: Authentication
    description: API authentication endpoints
  - name: Documentation
    description: API documentation endpoints
  - name: Task Management
    description: Task management endpoints
  - name: Step Management
    description: Task step management endpoints
  - name: User Management
    description: User account management endpoints
  - name: Devices

paths:
  /: { $ref: paths/(empty).yml }

  /types:           { $ref: paths/types.yml       }
  /types/{type-id}: { $ref: paths/types/by-id.yml }

  /auth/login:  { $ref: paths/auth/login.yml  }
  /auth/logout: { $ref: paths/auth/logout.yml }
  /auth/auto:   { $ref: paths/auth/auto.yml   }

  /devices:                   { $ref: paths/devices.yml                 }
  /devices/{device-id}:       { $ref: paths/devices/device-id.yml       }
  /devices/{device-id}/trust: { $ref: paths/devices/device-id/trust.yml }

  /tasks:           { $ref: paths/tasks.yml          }
  /tasks/{task-id}: { $ref: paths/tasks/task-id.yml  }
  /tasks/assigned:  { $ref: paths/tasks/assigned.yml }
  /tasks/created:   { $ref: paths/tasks/created.yml  }

  /tasks/{task-id}/steps:           { $ref: paths/tasks/task-id/steps.yml        }
  /tasks/{task-id}/steps/{step-id}: { $ref: paths/tasks/task-id/steps/step-id.yml }

  /users:               { $ref: paths/users.yml }
  /users/{user-id}:     { $ref: paths/users/by-id.yml }
  /users/{user-id}/pfp: { $ref: paths/users/by-id/pfp.yml }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        API Key header value provided from service after logging in.
